/* Estilos personalizados para la tienda de vapes */
.product-card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/*FOOTER*/

main, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1; 
    padding: 20px;
    background-color: #f4f4f4;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.footer-container {
    width: 80%;
    margin: 0 auto;
}

.logosredes {
    margin-bottom: 10px;
}

.logosredes img{
    width: 50px;
}

/*nosotros*/

.nosotros {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}

.nosotros section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*CONTACTO*/

.contacto {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedorcontactos {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.contenedorcontactos h2 {
    color: black;
}

input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
.mensaje {
    display: none;
    color: green;
    margin-top: 10px;
}